* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(236, 231, 231)
}

#indexbody {
    background-color: oldlace;
    display: inline-block;
}

header {
    background-color:#7397e4;
    font-size: 200px;
    border: 2px black
}

#indextitle {
    font-size: 75px;
    color: white;
    text-align: center;
    font-family: Geneva, Tahoma, sans-serif;
}

aside {
    margin-top: 20px;
    width: 20%;
    float:left;
    clear: both;
    border: 2px solid;
    border-radius: 10px;
    background-color: #ecf3f2;
    margin: 10px;
    text-align: center
}

aside h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
    margin-bottom: 10px;
}

main {
    float: right;
    width: 50%
}

main div {
    padding: 10px;
}

#investinet {
    float: right;
    border-radius: 10px;
    background-color:  #ecf3f2;
    margin: 10px;
    width: 90%;
    border: 2px solid;
}

#resurgent {
    float: right;
    border-radius: 10px;
    background-color:  #ecf3f2;
    margin: 10px;
    width: 90%;
    border: 2px solid;
}

#resp, #invp {
    text-align: left;
    font-size:larger;
    margin-bottom: 25px;
}

#investinet h2 {
    text-align: left;
    margin-bottom: 2px;
    font-size: 40px;
    text-decoration: underline
}

#resurgent h2 {
    text-align: left;
    margin-bottom: 8px;
    font-size: 40px;
    text-decoration: underline
}

#invimg, #resimg {
    max-height: 150px;
    max-width: 200px;
    border-radius: 10px;
    float: left;
    margin-right: 15px;
}

#resimg {
    margin-right: 15px;
}

hr {
    border-top: 3px solid black
}

#title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    color: rgb(37, 199, 37);
}

nav {
    background-image: linear-gradient(to right, rgba(0, 95, 95, 0.199), rgb(95,178,199,1));
    text-align: left;
}

#indexlist {    
    padding: 4px;
}

.index-resources {
    color: black;
    font-size: 20px;
    margin-right: 1%;
    font-weight: bold;
    padding: 5px
}

#indexli {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

#indexli a {
    text-decoration: none;
    opacity: 1
}

#indexli a:hover {
    opacity: 0.6
}

#indexli p {
    margin-bottom: 20px;
}

.indexitems {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}

.indexitems p {
    font-weight: normal;
    font-size: 17px;
    text-align: center;
}

#list {
    background-color: rgb(236, 240, 240);
    text-align: left;
    padding: 4px
}

.resources {
    text-decoration: underline;
    color: black;
    font-size: 20px;
    margin-right: 1%;
    font-weight: bold;
    padding: 5px
}

.resources:hover {
    background-color: rgb(202, 204, 204)
}

div {
    text-align: center;    
}

.step {
    width: 100%;
    font-size: 30px;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 0;
    align-content: center;
}

#excel {
    color: green
}

#email {
    text-decoration: none;
}

.answer {
    text-align: center;
}

#yes, #no, #final, #off, #multiple, #only-one, #listed, #locations, #new, #judge1noadd, #found {
    font-size: 25px;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: rgb(81, 194, 160);
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: solid;
    margin-top: 1.5%;
    border-radius: 10px;
    opacity: 1;
}

#yes:hover, #no:hover, #final:hover, #off:hover, #multiple:hover, #only-one:hover, #listed:hover, #locations:hover, #new:hover, #judge1noadd:hover, #found:hover {
    opacity: 0.7
}

#final, #off {
    width: auto;
    margin-top: 10%;
}

#yes {
    margin-right: 4%;
}
#multiple {
    width: auto;
    margin-top: 1.5%;
}

#verify {
    font-size: 25px;
    margin-top: 25px;
    margin-left: 10px;
}

#checkbox #verify {
    float: left;
    position: relative;
}

#verify li {
    list-style-type: none;
    text-align: left;
    margin-bottom: 1%;
    margin-left: 10px
}

#final {
    margin-right: 5%;
    list-style-type: none;
}

#only-one {
    width: auto;
    margin-top: 1.5%;
}

#county, #nothing, #onejudge {
    font-size: 25px;
    display: inline-block;
    width: auto;
    height: 50px;
    text-decoration: none;
    color: rgb(7, 133, 38);
    margin-top:2%;
}

#county, #nothing {
    color: rgb(22, 22, 20)
}

.check {
    padding: 25px;
}

#ilist {
    float: left;
}

.checklist {
    margin-left:100px;
    margin-top: 20px;
    font-size: 30px;
    list-style-type: none;
    float: left;
    text-align: left;
}

input {
    margin: 10px 0;
    margin-right: 5px
}

#icheck {
    width: 100%;
    text-decoration: underline;
    font-size: 45px;
    margin-left: 0;
    margin-top: 50px;
    text-align: center;
}

.container {
    font-size: 40px;
    display: block;
    width: auto;
    height: 50px;
    background-color:#FC9C5C;
    text-decoration: none;
    color: rgb(44, 42, 42);
    border: solid;
    margin-top:2%;
    border-radius: 10px
}

